.groupon-list
  border-top 1rpx solid #EEE

.groupon-item
  border-bottom 1rpx solid #EEE
  display flex
  padding 1em

.groupon-thumbnail
  width 50px
  height 50px
  margin-right 1em

.groupon-info
  display flex
  flex-direction column
  justify-content space-between
  text
    display block

.groupon-title
  font-size 18px

.groupon-price
  font-size 14px

.version-number
  position absolute
  right 1em
  bottom 1em
  color #DDD
  font-size 8px
