page
  display flex
  flex-direction column
  justify-content space-between

.header
  position absolute
  z-index 1
  width 750rpx
  height 500rpx

.main-nav
  position relative
  z-index 5
  padding-top 400rpx

.version-number
  font-size 24rpx
  color darken(#FFE132, 25%)
  text-shadow 0 1rpx white
  text-align center
  line-height 3

.add-new-button
  background-color white
  display flex
  align-items center
  width 630rpx !important
  height 270rpx
  border-radius 30rpx
  border 8rpx solid #000
  font-size 54rpx
  margin 0 auto

.button-icon
  width 180rpx
  height 180rpx
  min-width 180rpx
  margin-right 20rpx

.button-label,
.button-label-hint
  display block
  text-align left

.button-label-hint
  font-size 28rpx
  font-weight 200
  margin-top 10rpx
