page,
view,
form,
input,
textarea
  display block
  box-sizing border-box

page
  font-size 16px
  min-height 100%

.footer
  background-color white
  box-shadow 0 -2rpx 0 rgba(black, .1)
  position fixed
  left 0
  right 0
  bottom 0
  padding .5em 0

.footer-button
  background-color #00b7ff
  border-radius 8rpx
  color white
  display block
  margin 0 auto
  padding 0
  width 50%
  line-height 2.5em
  text-align center

.w-50
  width 50%

.d-block
  display block

.d-flex
  display flex
