/***************
 * Reset
 **************/
page,
view,
form,
input,
textarea
  display block
  box-sizing border-box

page
  font-size 16px
  min-height 100%


/***************
 * Components
 **************/
.footer
  background-color white
  box-shadow 0 -2rpx 0 rgba(black, .1)
  position fixed
  left 0
  right 0
  bottom 0
  padding .5em 0

.footer-button
  background-color #00b7ff
  border-radius 8rpx
  color white
  display block
  margin 0 auto
  padding 0
  width 50%
  line-height 2.5em
  text-align center


/***************
 * Form
 **************/
.form-group
  margin-bottom 1em

.form-control
  border 1rpx solid #EEE
  border-radius 8rpx

  input&
    line-height 2.5em
    height 2.5em
    padding 0 .5em

  textarea&
    line-height 2em
    height 6em
    padding .5em
    width 100%

.form-control-placeholder
  line-height 2em

.input-number
  text-align right


/***************
 * Layout
 **************/
.w-50
  width 50%

.d-block
  display block

.d-flex
  display flex

.align-items-center
  align-items center

.mb-0
  margin-bottom 0

.mr-1
  margin-right .25em

.mr-2
  margin-right .5em

.mr-3
  margin-right 1em
