.photo-item
  background-color #CCC
  width 630rpx
  height 630rpx
  border 8rpx solid black
  border-radius 30rpx
  box-shadow 0 6rpx 12rpx rgba(black, .1)
  margin 60rpx auto

.photo-image
  display block
  width 100%
  height 100%
  border-radius 30rpx

.photo-spinner
  color #AAA
  text-shadow 0 1rpx white
  font-size 24rpx
  line-height 630rpx
  width 630rpx
  display block
  text-align center

.share-button
  background-color #D75222
  width 630rpx !important
  height 120rpx
  padding 0
  border 8rpx solid black
  border-radius 60rpx
  color white
  line-height 104rpx
  font-size 54rpx
  font-weight 500
  box-shadow 0 6rpx 12rpx rgba(black, .1)
