page
  background-color #F0F0F0

.group-detail,
.join-in-form
  background-color white
  border-radius 8rpx
  box-shadow 0 4rpx 4rpx rgba(black, .1)
  margin 1em
  padding 1em

.thumbnail
  display block
  box-sizing border-box
  width 5em
  height 5em
  margin-right 1em

.h1
  font-size 20px
  margin-bottom .5em

.h2
  margin-bottom .5em

.price
  color #AAA
  font-size 16px
  padding-left .25em

.price-number
  font-size 24px
  color #E74C3C
  margin-left .25em

.description
  margin-top 1em
  line-height 1.5
