page
  background-color #F0F0F0

.group-detail,
.join-in-form,
.member-list
  background-color white
  border-radius 8rpx
  box-shadow 0 4rpx 4rpx rgba(black, .1)
  margin 1em
  padding 1em

.thumbnail
  display block
  box-sizing border-box
  width 5em
  height 5em
  margin-right 1em

.h1
  font-size 20px
  margin-bottom .5em

.h2
  margin-bottom .5em

.me
  text-align center

.text-big-number
  font-size 2em
  color #E74C3C

.price
  color #AAA
  font-size 16px
  padding-left .25em

.price-number
  font-size 24px
  color #E74C3C
  margin-left .25em

.description
  margin-top 1em
  line-height 1.5

.no-member
  border-top 1rpx solid #EEE
  color #AAA
  font-size 12px
  margin 0 1em
  padding-top 1em
  text-align center
  text-shadow 0 1rpx 0 white

.member-item
  border-top 1rpx solid #EEE
  display flex
  align-items center
  padding-top 1em

.member-number
  width 50%

.member-avatar
  width 40px
  height 40px
  border-radius 20px
  margin-right 1em
